.noto-sans-custom, button {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  :root{
    --grey: #393E46;
    --black: #222831;
    --teal: #00ADB5;
    --white: #EEEEEE;
  }

  body{
    background-color: var(--grey);
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 99dvh;
    color:var(--white);
  }

  .head{
    justify-content:space-evenly;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
    display: flex;
    font-size:calc(20px + 2.1vw);
    color: var(--white);
    line-height: 1.2;
  }

  .main-container{
    border: 2px solid var(--teal);
    border-radius:5px;
    line-height: 1.5;
    min-width:50dvw;
    min-height:20dvh;
    padding:3%;
    margin-bottom: 6%;
  }

  .input-field{
    text-align: center;
    outline: none;
  }

  .input-field  p {
    line-height: 1.5;
    font-size: calc(16px + 1.1vw);
    margin: 0;
  }

  #user-input{
    font-size: calc(10px + 1.1vw);
    width: 50%;
    max-width: 600px;
    height:8%;
  }

  .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3dvw;
    margin: 1.8%;
  }

  button{
    padding: 0.5% 5%;
    border:2px solid var(--black);
    border-radius: 5px;
    font-weight: 600;
    font-size: calc(12px + 0.3vw);
    color: var(--black);
    min-width: 40px;
    max-width: 200px;
  }

  #results-div {
    
    height: 18em;
    width: 100%;
  }
  
  .answer-field{
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-top: 2px solid var(--teal);
    border-bottom: 2px solid var(--teal);
  }

  .answer-field p {
    text-align: center;
    font-size: calc(16px + 1vw);
    margin: 2.5px;
  }

  #clear-btn{
    text-decoration: underline 1.5px red;
  }

  #check-btn{
    text-decoration: underline 1.5px green;
  }
  
  button:active, button:hover{
    border:2px solid var(--teal);
  }

  #user-input:focus {
    outline: none;
    border: 3px solid var(--teal);
    border-radius: 3px;
  }

  footer{
    width:100%;
    text-align: center;
    border-top: 2px solid var(--teal);
    margin-top: auto;
  }